<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">
            <strong>E-Commerce App</strong>
        </a>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search products...">
        </div>
        <span class="fas fa-search search-icon"></span>
    <nav>
        <ul>
            <li><a href="#" routerLink="cart">
                <i class="fas fa-cart-plus"></i> Go To Cart 
            </a></li>
        </ul>
    </nav>
</div>
</header>
